// BUTTON
.button-main {
    @include def-button;
    color: $custom-white;
    background-color: $custom-black;
    border-radius: $border-radius;
    text-transform: capitalize
}

.button-outline {
    @include def-button;
    color: $custom-gray;
    background-color: transparent;
    border: 1px solid $custom-gray;
    border-radius: $border-radius;
}

.button-plain {
    @include def-button;
    color: $custom-gray;
    background-color: transparent;
    border: none;
}

